Connected Services/WeatherService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar45.fulton.asu.edu/Page8/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar45.fulton.asu.edu/Page8/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getWeatherDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getWeatherDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_getWeatherDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWeatherDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getNewsLinks_InputMessage">
    <wsdl:part name="parameters" element="tns:getNewsLinks" />
  </wsdl:message>
  <wsdl:message name="IService1_getNewsLinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNewsLinksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getZipInfoMvF_InputMessage">
    <wsdl:part name="parameters" element="tns:getZipInfoMvF" />
  </wsdl:message>
  <wsdl:message name="IService1_getZipInfoMvF_OutputMessage">
    <wsdl:part name="parameters" element="tns:getZipInfoMvFResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getZipInfoHouseholdStats_InputMessage">
    <wsdl:part name="parameters" element="tns:getZipInfoHouseholdStats" />
  </wsdl:message>
  <wsdl:message name="IService1_getZipInfoHouseholdStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:getZipInfoHouseholdStatsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getWeatherDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWeatherDetails" message="tns:IService1_getWeatherDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWeatherDetailsResponse" message="tns:IService1_getWeatherDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNewsLinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getNewsLinks" message="tns:IService1_getNewsLinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getNewsLinksResponse" message="tns:IService1_getNewsLinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getZipInfoMvF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getZipInfoMvF" message="tns:IService1_getZipInfoMvF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getZipInfoMvFResponse" message="tns:IService1_getZipInfoMvF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getZipInfoHouseholdStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getZipInfoHouseholdStats" message="tns:IService1_getZipInfoHouseholdStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getZipInfoHouseholdStatsResponse" message="tns:IService1_getZipInfoHouseholdStats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getWeatherDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/getWeatherDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewsLinks">
      <soap:operation soapAction="http://tempuri.org/IService1/getNewsLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZipInfoMvF">
      <soap:operation soapAction="http://tempuri.org/IService1/getZipInfoMvF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZipInfoHouseholdStats">
      <soap:operation soapAction="http://tempuri.org/IService1/getZipInfoHouseholdStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar45.fulton.asu.edu/Page8/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>